<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.admin.dao.GoodsPicMapper">
    <resultMap id="goodsPicMapper" type="core.admin.domain.GoodsPic">
        <result column="id" property="id"/>
        <result column="pic_url" property="picURL"/>
        <result column="goods_id" property="goodsId"/>
        <result column="pic_desc" property="picDesc"/>
    </resultMap>

    <insert id="save" parameterType="core.admin.domain.GoodsPic">
        <selectKey order="AFTER" keyProperty="id" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO <include refid="TABLE"/>
        (`pic_url`,`goods_id`,`pic_desc`)
        VALUES
        (
        #{picURL},
        #{goodsId},
        #{picDesc}
        )
    </insert>
    <select id="selectList" parameterType="java.util.Map" resultMap="goodsPicMapper">
        SELECT <include refid="QUERY_COLUMN_LIST"/>
        FROM <include refid="TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
        <include refid="QUERY_ORDER_LIMIT_CONDITION"/>``
    </select>
    <sql id="QUERY_COLUMN_LIST">
        `id` AS 'id',`pic_url` AS 'pic_url',`goods_id` AS 'goods_id',`pic_desc` AS 'pic_desc'
    </sql>
    <sql id="TABLE">
        <![CDATA[ goods_pic ]]>
    </sql>

    <!-- 查询总数 -->
    <select id="selectListCount" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(id) AS COUNT FROM
        <include refid="TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
        <include refid="QUERY_ORDER_LIMIT_CONDITION"/>
    </select>

    <insert id="update" parameterType="core.admin.domain.Menu">
        UPDATE <include refid="TABLE"/>
        <include refid="UPDATE_COLUMN_SET"/>
        <![CDATA[WHERE id = #{id}]]>
    </insert>

    <update id="delete" parameterType="java.lang.Long" >
        DELETE FROM <include refid="TABLE"/> WHERE id = #{id}
    </update>


    <!-- 全部条件(更多功能可以通过queryData扩展实现)  -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="id != null and id != ''"><![CDATA[AND `id` = #{id}]]></if>
            <if test="goodsId != null and goodsId != ''"><![CDATA[AND `goods_id` = #{goodsId}]]></if>
            <if test="picURL != null and picURL != ''"><![CDATA[AND `pic_url` = #{picURL}]]></if>
            <if test="picDesc != null and picDesc != ''"><![CDATA[AND `pic_desc` = #{picDesc}]]></if>
        </where>
    </sql>

    <!-- 智能排序与分页 -->
    <sql id="QUERY_ORDER_LIMIT_CONDITION">
        <if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
        <if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>
    </sql>
    <sql id="UPDATE_COLUMN_SET">
        <set>
            <if test="goodsId != null and goodsId != ''"><![CDATA[ `goods_id` = #{goodsId},]]></if>
            <if test="picURL != null and picURL != ''"><![CDATA[ `pic_url` = #{picURL},]]></if>
            <if test="picDesc != null and picDesc != ''"><![CDATA[ `pic_desc` = #{picDesc}]]></if>
        </set>
    </sql>
</mapper>