
<div class="col-xs-12">
    <h3 class="header smaller lighter blue">{{title}}</h3>
    <div class="table-header">
        <div class="col-xs-12" style="display: inline">
            <div style="margin-bottom:20px;float: left;color: #000;"> 搜索关键字:<input type="text" style="width: 121px;height: 35px;"  ng-model="search" placeholder="请输入关键字">
            </div>

            <div style="float: right;margin-right:200px">
                <h4 class="blue">
                    <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                    <a role="button" class="green" data-toggle="modal" ng-click="editMenu()"> 添加 </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="hidden-480">资源名称</th>
                <th>对应URL</th>
             <!--   <th>

                    &lt;!&ndash; div.table-responsive &ndash;&gt;
                    <h4 class="pink">
                        <i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
                        <a role="button" class="green" data-toggle="modal" ng-click="editMenu()"> 添加 </a>
                    </h4>

                </th>-->
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="resourceManager in resourceManagers.result">
                <td class="hidden-480">{{resourceManager.name}}</td>
                <td>{{resourceManager.url}}</td>
                <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a class="green" role="button" data-toggle="modal" ng-click="editMenu(resourceManager.id)">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>

                    <a class="red" ng-click="remove($index,resourceManager.id)">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="inline pos-rel">
                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
														<span class="blue">
															<i class="ace-icon fa fa-search-plus bigger-120"></i>
														</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
														<span class="green">
															<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
														</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
														<span class="red">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            </tr>
            </tbody>
        </table>
        <div>
            <ul uib-pagination previous-text="首页" next-text="尾页" items-per-page="5" ng-change="changePage()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false">
            </ul>
            <div>
    </div>
</div>



        <script type="text/ng-template" id="ModalContent.html">

            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">
                        <span class="white">&times;</span>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 资源管理添加
                </div>
            </div>

            <form ng-submit="save()" name="recipeForm" class="form-horizontal">
                <div class="modal-body no-padding">

                    <input type="hidden" name="id" value="${menu.id}"/>

                    <table class="table table-bordered table-striped formLayout m0">
                        <tr>
                            <td>资源名称：</td>
                            <td>
                                <input ng-model="menu.name" placeholder="" class="form-control"
                                       value="${menu.name}" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>对应URL：</td>
                            <td>
                                <input ng-model="menu.url" placeholder="" class="form-control"
                                       value="${menu.url}"/>
                            </td>
                        </tr>

                    </table>


                </div>

                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-primary btn-block" type="submit">保存</button>
                </div>
            </form>
            </div>
            </div>
            </div>
        </script>
    </div>
</div>