<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <!--注意着两个属性，需要把属性延迟加载和关联对象加载给关闭了，不然放进redis中的cglib代理对象，在对数据发生更改的时候，会出错。&ndash;&gt;-->
        <setting name="aggressiveLazyLoading" value="true" />
    </settings>
</configuration>